/* Outer container */
.creature-stat-block-outer {
    padding: 5px;
    border: 2px solid #706d39;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Inner container */
.creature-stat-block-inner {
    padding: 7px;
    border: 2px solid #706d39;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Name section */
.creature-stat-block-inner h1 {
    margin: 0 0 16px 0;
    /* Add spacing below the name */
    font-size: 1.5rem;
    text-align: left;
    border-bottom: 1px solid #733721;
    color: #bb1a1a;
    text-transform: uppercase;
}

/* Content container (for the two columns) */
.creature-stat-block-content {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

/* Left and right columns */
.left-column,
.right-column {
    width: 48%;
}

/* Headings */
h4 {
    margin: 0 0 8px 0;
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
}

.ac-initiative {
    display: flex;

    align-items: center;
}

.aligned-div {
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.creature-type {
    margin: 0 0 25px 0;
    font-size: 1rem;
    color: #434343;
    font-style: italic;
}

.black-bold-text {
    margin: 0 6px 0 6px;
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
}

/* Paragraphs */
p {
    margin: 0 25px 0 0;
    color: #000000;
}


.stats-table td {
    text-align: center;
}

.stats-table .column_1,
.stats-table .column_2 {
    background-color: #c9cba1 !important;
    color: #000000 !important;
    border: 1px solid #f9f9f9 !important;
    text-align: center;
}

.stats-table .column_3,
.stats-table .column_4 {
    background-color: #887b68 !important;
    color: #000000 !important;
    border: 1px solid #f9f9f9 !important;
    text-align: center;
}


.stats-table .title-th {
    background-color: transparent;
    border: none;
    font-weight: bold;
    text-align: center;
}

.internal-link {
    color: #0645ad;
    /* Customize the color as needed */
    text-decoration: underline;
    cursor: pointer;
}